@import url('https://fonts.googleapis.com/css2?family=eurostile:wght@100;300;400;900&display=swap');

@font-face {
    font-family: 'eurostile';
    src        : url(../font/eurostile/eurostile.woff);
}


    Body{
        font-family: 'eurostile';
        text-align : center;
    }

    *, ::before, ::after {
        box-sizing: inherit;
    }


h1, h2, h3, h4, h5, h6{  
    font-family: 'eurostile';
}


.typeWriter::after {
    content    : '|';
    opacity    : 1;
    margin-left: 5px;
    display    : inline-block;
    animation  : blink .7s infinite;
  }

  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

/* ==== Scrollbar ==== */

  ::-webkit-scrollbar {
    width      : 6px;
    border-left: 1px solid #E6ECF8;
}

::-webkit-scrollbar-thumb {
    background-color: #5B0CC2;
}

/* ==== filter ==== */

.glassmorfism{
    height                 : 60px;
    background             : rgba( 255, 255, 255, 0.15 );
    backdrop-filter        : blur( 1.5px );
    -webkit-backdrop-filter: blur( 1.5px );
    border                 : none;
    color                  : white;
    z-index                : 100;
    transition             : background-color 1s ease 0s;
  }

/* ==== Email ==== */

/* ==== Heading ==== */
.big-heading{ /* Title, CTA */
    font-family: 'eurostile';
    font-size  : 3.5rem;
    font-weight: 900;
    line-height: 150%;
}
.medium-heading{ /*footer, princing*/
    font-weight: bold;
    font-size  : 2.5rem;
    line-height: 1.5rem;
    text-align : center;
}


/* ==== CONTAINER ==== */
.container-fluid{
    padding-top: 1.5rem;
}



/* ==== Navigation Bar ==== */
.logo{
    height: 48px;
    width : auto;
}

#nav-bar{
    padding: 1% 15% 9%;
}
.navbar{
    padding   : 0 0 4.5rem;
    z-index   : auto;
    position  : relative;
    text-align: center;
}

.navbar-brand{
    font-family: 'eurostile';
    font-size  : 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size  : 20px;
    font-family: "eurostile";
    font-weight: 400;
    color      : #000;
    text-align : center;
}

.nav-text{
    border-width: 2px;
    font-weight : 400;
    font-size   : 18px;
    padding     : 1.2rem;
}

/* ==== TITLE ==== */

#title{
    text-align: center;
}

/* ==== title-image ==== */
.title-image {
    max-width  : 100px;
    padding-top: 10px;
    height     : auto;
    transform  : translateY(0px);
    animation  : float 5s ease-in-out infinite;
}
 @keyframes float{
     0%{
         transform: translateY(0px);
     }
     50%{
         transform: translateY(-25px);
     }
     100%{
         transform: translateY(0px);
     }
 }

/* ==== title-Mobile ==== */
@media (max-width: 1028px){
    .title-image{
        padding-top: 10px;
        min-width  : 50px;
        height     : auto;
    }
    #title{
        text-align: center;
        font-size : 12px;
    }

    /* ==== EFFECT ==== */
    .glassmorfism{
        height    : 60px;
        background: #fff;
        border    : none;
        color     : white;
        z-index   : 100;
        transition: background-color 1s ease 0s;
      }

      /* ==== CONTAINER ==== */
      .container-fluid{
        padding-top : 0.5rem;
        padding-left: 1.5rem;
    }


}



/* ==== Footer ==== */
footer{
    padding: 3% 5%;
} 

.copyright-text{ /* p */
    color: grey;
}
.footer-icon{
    margin-right: 10px;
    margin-left : 10px;
    color       : #7510F7;
    width       : 30px;
    height      : 30px;
}

.footer-icon:hover{
    margin-right: 10px;
    margin-left : 10px;
    color       : #5B0CC2;
    width       : 30px;
    height      : 30px;
}



/* ==== Botões ==== */

.nav-button{
    background-color  : transparent;
    border            : 1px solid #7510F7;
    border-radius     : 75px;
    color             : #7510F7;
    transition        : all .2s ease-in-out ;
    cursor            : pointer;
    text-align        : center;
    white-space       : nowrap;
    -webkit-transition: all .5s ease-in-out;
}
.nav-button:hover{
    background-color: #7510F7;
    color           : white;
}
.nav-button{
    border-width: 2px;
    font-weight : 400;
    font-size   : 18px;
    padding     : 1.2rem;
}
