:root {
    --dark-navy: #020c1b;
    --navy: #0a192f;
    --light-navy: #112240;
    --lightest-navy: #233554;
    --navy-shadow: rgba(2,12,27,0.7);
    --dark-slate: #495670;
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --white: #e6f1ff;
    --green: #64ffda;
    --green-tint: rgba(100,255,218,0.1);
    --green-shadow: rgba(100, 255, 218,0.1);
    --pink: #f57dff;
    --blue: #57cbff;
    --font-sans: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    --font-mono: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    --fz-xxs: 12px;
    --fz-xs: 13px;
    --fz-sm: 14px;
    --fz-md: 16px;
    --fz-lg: 18px;
    --fz-xl: 20px;
    --fz-xxl: 22px;
    --fz-heading: 32px;
    --border-radius: 4px;
  }

  
@font-face {
    font-family: 'eurostile';
    src        : url(../font/eurostile/eurostile.woff);
}




    div{
        display:block;
    }
    Body{
        font-family: 'eurostile';
        text-align : center;
        background-color: var(--navy);
        font-size: var(--fz-xl);
    }


h1, h2, h3, h4, h5, h6{  
    font-family: 'eurostile';
}
p{
    margin: 0px 0px 15px; 
}





/* ==== Text Alight ==== */
.left{
    text-align: left;
}
.right{
    text-align: right;
}
.center{
    text-align: center;
}



/* ==== typed Text ==== */
.typeWriter::after {
    content    : '|';
    opacity    : 1;
    margin-left: 5px;
    display    : inline-block;
    animation  : blink .7s infinite;
  }
  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

/* ==== Scrollbar ==== */

  ::-webkit-scrollbar {
    width      : 6px;
    border-left: 1px solid #E6ECF8;
}

::-webkit-scrollbar-thumb {
    background-color: var(--dark-navy);
    cursor          : grab;
}

/* ==== filter ==== */

.glassmorfism{
    height                 : 60px;
    background             : rgba( 255, 255, 255, 0.2 );
    backdrop-filter        : blur( 1.5px );
    -webkit-backdrop-filter: blur( 1.5px );
    border                 : none;
    color                  : white;
    z-index                : 100;
    transition             : background-color 1s ease 0s;
  }


.transparent{
    height: 60px;
    background-color: rgba( 10, 25, 47, 0.01) ;
    border: none;
    z-index: 100;
}


/* ==== Heading ==== */

.big-heading{ /* Title, CTA */
    font-family: 'eurostile';
    font-size  : 3.5rem;
    font-weight: 900;
    line-height: 150%;
    color: var(--lightest-slate);
}
.medium-heading{ /*footer, princing*/
    font-weight: bold;
    font-size  : 2.5rem;
    line-height: 1.5rem;
    text-align : center;
    color: var(--lightest-slate);
}


/* ==== CONTAINER ==== */
.container-fluid {
    padding-top: 1.5rem;
}



/* ==== Navigation Bar ==== */
.logo{
    position: relative;
    height: 48px;
    width : auto;
    top: -13px;
}


.logoFooter{
    height: 68px;
    width : auto;
}

#nav-bar{
    padding: 1% 15% 9%;
}
.navbar{
    padding   : 0 0 4.5rem;
    z-index   : auto;
    position  : relative;
    text-align: center;
}

.navbar-brand{
    font-family: 'eurostile';
    font-size  : 2.5rem;
    font-weight: bold;
}
.navbar-item {
    padding  : 0 18px;
    color: var(--lightest-slate) !important;
}
.navbar-item:hover{
    color: var(--green) !important ;
}

.nav-link{
    font-size  : 20px;
    font-family: "eurostile";
    font-weight: 400;
    color      : #000;
    text-align : center;
}

.nav-text{
    border-width: 2px;
    font-weight : 600;
    font-size   : 18px;
    padding     : 1.2rem;
}

/* ==== Botões ==== */

.btn-transition{
    border            : 1px solid var(--light-navy);
    border-radius     : 20px;
    color             : var(--lightest-slate);
    cursor            : pointer;
    text-align        : center;
    white-space       : nowrap;
    transition        : all .2s ease-in-out ;
    -webkit-transition: all .5s ease-in-out;
}

.btn-transition:hover{
    background-color: #7510f74d;
    color           : white;
    transform       : translateY(-5px);
}


.nav-button{
    border-width: 2px;
    font-weight : 400;
    font-size   : 18px;
    padding     : 1.2rem;
}
#cta-button{
    margin-top   : 30px;
    margin-bottom: 30px ;
}

#title-button{
    margin-top: 40px;
}

/* ==== TITLE ==== */
#title{
    text-align: center;
}

/* ==== title-image ==== */
.title-image {
    max-width     : 100px;
    height        : auto;
    transform     : translateY(0px);
    animation     : float 5s ease-in-out infinite;
    padding-top   : 2.5rem;
    padding-bottom: 2.5rem;
}

 @keyframes float{
     0%{
         transform: translateY(0px);
     }
     50%{
         transform: translateY(-35px);
     }
     100%{
         transform: translateY(0px);
     }
 }


/* ==== title-Mobile ==== */
@media (max-width: 1028px){
    .title-image{
        min-width  : 50px;
        height     : auto;
    }
    #title{
        padding-top: 2%;
        text-align: center;
        font-size : 12px;
    }
    .title{
        position: relative;
        top: 1.5rem;
    }
    .logo{
        position: relative;
        height: 48px;
        width : auto;
        top: 0px;
    }

    /* ==== EFFECT ==== */
    .glassmorfism{
        height    : 60px;
        background: #fff;
        border    : none;
        color     : white;
        z-index   : 100;
        transition: background-color 1s ease 0s;
      }

      /* ==== CONTAINER ==== */
      .container-fluid{
        padding-top : 0.5rem;
        padding-left: 1.5rem;
    }
    .navbar{
        background-color: var(--navy);
    }
}



/* ==== PROJECTS ==== */
.project-thumb{
    border-radius: 10px;
    background-color: #FF4C68;
    width: auto;
    height: 300px;
}
.project-thumb:hover{
    opacity: 0;
    background-color: #FF4C68;
}
.project-text{
    color: #fff;
    padding-bottom: 20%;
}

.project-button{
    position: relative;
    left: 0; 
    text-align: center;
    opacity: 1;
    transition: opacity .35s ease-in-out;
    
}
.project-button:hover{
    background-color: var(--navy);
}
.project-button button{
    width: 200px;
    color: #FF4C68;
    z-index: 1;
}
.project-container:hover .project-button{
    opacity: 1;
}





/* ==== Footer ==== */
footer{
    padding-bottom: 1%;
    padding-top   : 3%;
} 
.small-text{
    color: #fff;
    opacity  : 0.7;
    font-size: 1.25rem;
}

.copyright-text{ /* p */
    opacity      : 0.7;
    margin-bottom: 3.5rem;
}


.social-icon{
    margin-right: 10px;
    margin-left : 10px;
    color       : #808080;
    width       : 30px;
    height      : 30px;

}
 
 .social-icon:hover{
    margin-right: 10px;
    margin-left : 10px;
    color       : var(--green);
    transition  : all .5s ease-in-out infinite;
} 














/* ==== Botão lateral ==== */
#myBtn {
    display         : none;
    position        : fixed;
    bottom          : 20px;
    right           : 30px;
    z-index         : 99;
    border          : none;
    outline         : none;
    background-color: transparent;
    color           : var(--lightest-slate);
    cursor          : pointer;
    padding         : 15px;
    border-radius   : 100%;
    font-size       : 18px;
    font-weight     : 600;
    font-family     : "eurostile";
    border          : 2px solid var(--green);
  }
  
  #myBtn:hover {
    transition      : 0.5s;
    background-color: var(--green-shadow);
    color           : #fff;
  }

